@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahkan kode ini */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Global transition */
* {
  transition-property: color, background-color, border-color;
  transition-duration: 200ms;
}

/* Card hover effects */
.card-hover {
  transition: all 0.3s ease;
}

.card-hover:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(172, 0, 0, 0.2);
}
